/* style for the div containing the grid  */
.flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

/* Style for the Restaurant rating  */
.rest-rating{
    background-color: rgb(234, 204, 94);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    color: white;

}

/* Style for the Restaurant card bottom info */
.card-bottom-info{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    width: 100%;
}

/* Style for the cost for two element  */
.rest-for-two{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-around;
}

/* Style for the title */
.title{
    font-size:30px;
}

/* style for the card action area */
.card-action-area{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
}