.restaurant-rating-div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e1ad01;
	width: 45%;
	color: white;
	padding: 5px;
}

.rating-and-avg-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.restaurant-categories-div {
	margin-top: 20px;
	margin-bottom: 20px;
}