.product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(37, 50, 56);
    padding: 10px;
}

.icon-product {
    align-self: center;
    padding-left: 10px;
}

@media screen and (max-width:600px) {
    .product-head {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .icon-product {
        align-self: flex-start;
    }
}

#logo-search {
    height: 27px;
    padding: 0px 0px 0px 10px;
}

.head-login {
    padding-right: 10px;
}

.logo-profile {
    padding-right: 10px;
}

.dispNone {
    display: none;
}

.search-header {
    display: flex;
    align-self: flex-start;
    height: 40px;
    align-items: center;
    width: 300px;
}

.red {
    color: red;
}

.login-panel {
    margin-bottom: 20px;
}

#list-profile {
    padding: 0px;
    margin-left: 20px;
    margin-top: 30px;
}

.dispBlock {
    display: block;
}

#list-profile {
    padding: 0px;
    margin-left: 20px;
    margin-top: 30px;
}