/**css for checkout component**/
.addTabs {
    background-color: #3f51b5;
    color: white;
    width: 100%;
}

.text {
    font-size: 20px;
}

.dispFlex {
    width: 800px;
}

.formControl {
    display:flex;
}

.order-body-container {
    display: flex;
    justify-content: flex-start;
}

.veg-item-color{
    color: green;
}

.non-veg-color{
    color: #9A2B13;
}

.main-body-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.body-container {
    display: flex;
    justify-content: flex-start;
}

.div-container {
    margin: 8px;
    margin-left: 8%;
}

.price-container {
    min-width: 50px;
}

.rupee-container {
    margin: 8px;
    margin-left: 24%;
}

.div-items {
    min-width: 180px;
}


.dispNone {
    display: none;
}

.dispBlock {
    display: block;
    border-radius: 4px;
    background-color: #c0c0c0;
}

.orderSummary {
    margin: 30px 60px auto auto;
    width: 400px;
}

.selectionGrid {
    border: 3px solid red;
    box-shadow: 8px 8px red;
    border-radius: 5px;
}

.green {
    color: green;
}



.button-container {
   
    width: 350px;
}
